@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(102, 173, 231);
}
header{
    display: flex;
    background-color: steelblue;
    padding: 10px;
    font-size: 30px;
    color: white;
}
header h1{
    margin-left: 50px;
}


.projects-menu {
    height: 100%;
    width: 300px;
    background-color: rgb(102, 173, 231);
    border-right: 3px solid steelblue;

}

.home{
    font-size: 16px;
    padding: 10px;
    border-radius: 50px;
    border: 3px solid lightskyblue;
    background-color: inherit;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}
.home:hover{
    cursor: pointer;
    border: 3px solid white;
    background-color: lightskyblue;
    color: black;
}
.home:active{
    transform: translateY(2px);
}
.home-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 3px solid steelblue;
    height: 150px;
}


.projects {
    display: flex;
    flex-direction: column;
}

.all-projects{
    display: flex;
    flex-direction: column;
    height: 450px;
    overflow-y: auto;
}

#newProject {
    /* this is just for looks now */
    margin-top: 30px;
    margin-bottom: 30px;
}

.pro{
    margin-top: 40px;
}

.project-board{
    display: flex;
    margin: 40px;
    gap: 20px;

}
.task-area{
    display: flex;
    gap: 20px;
    height: 600px;
    overflow-y: auto;
    flex-direction: column;
    background-color: rgb(240, 239, 239);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
}
.header-p{
    font-weight: bold;
    text-align: center;
    background-color: rgb(240, 239, 239);
    padding: 5px;
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.task {
    font-size: 12px;
    margin-top: 5px;
    border: none;
    background-color: white;
    width: 90%;
    padding: 20px;
    text-align: left;
    max-width: 225px;
    overflow: hidden;
    overflow-wrap: break-word;
    border-radius: 5px;
    box-shadow: 1px 1px 5px steelblue;
}
.task:hover{
    background-color: rgb(247, 247, 247);
    cursor: pointer;
    box-shadow: 2px 2px 5px steelblue;
}
.content-wrapper{
    display: flex;

}

.flex-wrapper{
    display: flex;
    flex: 1 0 auto;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: steelblue;
    color: white;
}
@keyframes bounce{
    from {transform: translateY(0px)}
    to {transform: translateY(-5px)}
}

.footer i{
    padding-left: 5px;
    text-decoration: none;
    color: lightskyblue;
    font-size: 26px;
}
.footer i:hover {
    font-size: 26px;
    animation: bounce .3s infinite alternate;
}